.ttfix {
    width: 20vw !important;
    /* border: 2px solid blue; */
}

.bb {
    background-color: #f6f7fb;
    /* border: 2px solid blue; */
    /* padding: 2% !important; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.gg {
    /* border: 2px solid red; */
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fg {
    /* border: 2px solid red; */
    width: 45vw;
}

.sg {
    /* border: 2px solid red; */
    width: 45vw;

}

@media only screen and (max-width: 1016px) {
.gg {
    /* border: 2px solid red; */
    width: auto;
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: space-around;
}
.fg {
    /* border: 2px solid red; */
    width: 80vw;
    /* display: flex !important; */
    /* align-items: center !important; */
}

.sg {
    /* border: 2px solid red; */
    width: 80vw;
}

.ttfix {
    width: 35vw !important;
    /* border: 2px solid blue; */
}
}

@media only screen and (max-width: 412px) {
.gg {
    /* border: 2px solid red; */
    width: auto;
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: space-around;
}
.fg {
    /* border: 2px solid red; */
    width: 90vw;
    /* display: flex !important; */
    /* align-items: center !important; */
}

.sg {
    /* border: 2px solid red; */
    width: 90vw;
}

.ttfix {
    width: 90vw !important;
    /* border: 2px solid blue; */
}
}