.ttfix {
    width: 20vw !important;
}

.bb {
    background-color: #f6f7fb;
    /* border: 2px solid blue; */
    /* padding: 2% !important; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.gg {
    /* border: 2px solid red; */
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fg {
    /* border: 2px solid red; */
    width: 45vw;
}

.sg {
    /* border: 2px solid red; */
    width: 45vw;

}
